<p style='font-size:38px'>
    <div class="page" title="Page 1">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<div class="layoutArea">&nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<div class="column" style="text-align: left;">&nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<p><span
                        style="font-size: 16.000000pt; font-family: 'TimesNewRomanPSMT';"><b>TERMS &amp;
                            CONDITIONS&nbsp;</b></span></p>
                <p><br></p>
                <p><span style="font-size: 16.000000pt; font-family: 'TimesNewRomanPSMT';"><b>1.
                            Introduction</b>&nbsp;</span>
                </p><span style="font-size: 16.000000pt; font-family: 'TimesNewRomanPSMT';">Study shows around 1.3
                    billion tons of food is wasted every year in the world. EAT IT starts the movement against food
                    waste and we want to forward the&nbsp;</span><span
                    style="font-size: 16.000000pt; font-family: 'TimesNewRomanPSMT';">teachings of our Sikh Gurus in
                    this modern age. That&rsquo;s why EAT IT&nbsp;</span><span
                    style="font-size: 16.000000pt; font-family: 'TimesNewRomanPSMT';">Mobile App has been developed by
                    BATALVI SERVICES PRIVATE LTD, Amritsar, Punjab, India.&nbsp;</span>&nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<p><span
                        style="font-size: 16.000000pt; font-family: 'TimesNewRomanPSMT';">With this mobile app, every
                        user can search langar(Free food) according to their location in the whole of
                        India.<br>&nbsp;EAT IT&apos;s mission is to raise awareness of food waste by making surplus food
                        available to others who need it by becoming its users.&nbsp;</span>&nbsp; &nbsp; &nbsp;
                    &nbsp;&nbsp;</p>
                <p><span style="font-size: 16.000000pt; font-family: 'TimesNewRomanPSMT';">We provide a platform for the
                        user to place his or her reservation of surplus food so-called Free food from homes, shops,
                        restaurants, hotels, etc.<br>&nbsp;This platform enables those who can make food from home and
                        Donate this from home to all who need food.</span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp;</p>
                <p><span style="font-size: 16.000000pt; font-family: 'TimesNewRomanPSMT';">These terms and conditions
                        (&ldquo;Terms&rdquo;) apply to any food donation made through our website or application (the
                        &ldquo;Platform&rdquo;).<br></span><span
                        style="font-size: 16.000000pt; font-family: 'TimesNewRomanPSMT';">Upon placing a donation (as
                        defined below), the user confirms these Terms, and the user is thus obliged to read the Terms
                        thoroughly before the user donates or collects food via the Platform.&nbsp;</span>&nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>
                <p><span style="font-size: 16.000000pt; font-family: 'TimesNewRomanPSMT';">EAT IT&apos;s cookies and
                        privacy policy are available at any time via the Platform and these form an integral part of
                        these Terms and are accepted automatically upon acceptance of the Terms.&nbsp;</span></p>&nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<p><span
                        style="font-size: 16.000000pt; font-family: 'TimesNewRomanPSMT';"><b>2. EAT IT
                            Concept</b><br></br>The food is available for reservation on the Platform, and the user can
                        reserve the food by placing a Reservation food (as defined below) via the Eat it
                        app.</span><span style="font-size: 16.000000pt; font-family: 'TimesNewRomanPSMT';"><br>The food
                        is reserved by the user when EAT IT confirms this through a Reservation Confirmation (as defined
                        below).<br>When a user reserves a food, then the user undertakes to be present at the pickup
                        place (Home/Restaurant) at the time of pickup (as defined below), and collect the
                        food.</span><br>
                    <font face="TimesNewRomanPSMT"><span style="font-size: 14pt;">EAT IT is solely responsible for
                            arranging the donation of Products via the Eat it app on behalf of a donor, and there is no
                            contractual relationship between EAT IT and the donatory with respect to the Products or the
                            donation of Products. EAT IT has no responsibility for the Products or the&nbsp;</span><span
                            style="font-size: 18.6667px;">fulfilment</span><span style="font-size: 14pt;">&nbsp;of the
                            agreement between the donor and the donatory.&nbsp;</span></font>&nbsp;<span
                        style="font-size: 16.000000pt; font-family: 'TimesNewRomanPSMT';">EAT IT has no
                        responsibility for the taste and quality of food. It&rsquo;s the Donors&apos;&nbsp;</span><span
                        style="font-size: 16.000000pt; font-family: 'TimesNewRomanPSMT';">responsibility to donate food
                        of good quality. But the donatory can give feedback regarding food.&nbsp;</span>&nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
                </p>
                <p><span style="font-size: 16.000000pt; font-family: 'TimesNewRomanPSMT';">Eat it is not responsible for
                        who comes to your home and collects food. It&rsquo;s the Donor&rsquo;s responsibility to check
                        OTP or other information before you hand over&nbsp;</span><span
                        style="font-size: 16.000000pt; font-family: 'TimesNewRomanPSMT';">food to others.&nbsp;</span>
                </p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<p><span
                        style="font-size: 16.000000pt; font-family: 'TimesNewRomanPSMT';"><b>3. Accept</b><br><br>Food
                        reservation via the Platform, the Donatory confirms:<br></span><span
                        style="font-size: 16.000000pt; font-family: 'TimesNewRomanPSMT';">&bull; to be legally able to
                        enter into binding agreements,<br>&bull; that free food via the app only takes place as part of
                        a personal non</span><span
                        style="font-size: 16.000000pt; font-family: 'TimesNewRomanPSMT';">-business purpose,
                        and</span><span style="font-size: 16.000000pt; font-family: 'TimesNewRomanPSMT';"><br>By
                        accepting these Terms, the user agrees to receive all relevant information in English. In
                        addition, the user agrees that all agreements between the user and EAT IT as well as any related
                        information necessary to perform the service are stored by EAT IT in accordance with EAT
                        IT&apos;s privacy policy.</span><span
                        style="font-size: 16.000000pt; font-family: 'TimesNewRomanPSMT';"><br>The user accepts that all
                        agreements between the user and EAT IT will be stored by EAT IT for a period of 5
                        years.</span><span style="font-size: 16.000000pt; font-family: 'TimesNewRomanPSMT';"><br>By
                        accepting these Terms, the user further agrees to receive emails and text messages related to
                        any reservation by the user. This is required to ensure that the user receives all material
                        notifications related to his food.</span><span
                        style="font-size: 16.000000pt; font-family: 'TimesNewRomanPSMT';"><br>EAT IT reserves the right
                        to revise and change the Terms from time to time. The user&apos;s food is subject to the Terms
                        that apply at the time the user collects the food.&nbsp;</span>
                    <p></br><span style="font-size: 16.000000pt; font-family: 'TimesNewRomanPSMT';"><b>4. EAT IT&apos;s
                                contact
                                information and customer service</b></span></p>
                    <p><span style="font-size: 16.000000pt; font-family: 'TimesNewRomanPSMT';"><br>&nbsp;EAT
                            IT<br>&nbsp;Amritsar, Punjab<br>&nbsp;India<br>&nbsp;Social media<br>&nbsp;Twitter,
                            Facebook,
                            Youtube&nbsp;</span><span
                            style="font-size: 16.000000pt; font-family: 'TimesNewRomanPSMT';">&ndash;&nbsp;</span><span
                            style="font-size: 16.000000pt; font-family: 'TimesNewRomanPSMT';">Eatit<br>&nbsp;Instagram&nbsp;</span><span
                            style="font-size: 16.000000pt; font-family: 'TimesNewRomanPSMT';">&ndash;&nbsp;</span><span
                            style="font-size: 16.000000pt; font-family: 'TimesNewRomanPSMT';">eatit.co.in</span></p>
                    <p><br>
                        <font face="TimesNewRomanPSMT"><span style="font-size: 14pt;"><b>5. Products and Product
                                    Information</b></span></font><br></br>
                        <font face="TimesNewRomanPSMT"><span style="font-size: 14pt;">EAT IT&apos;s role is solely to
                                arrange the contact between the donor and the donatory and EAT IT has no responsibility
                                with
                                regard to the Products or the&nbsp;</span><span
                                style="font-size: 18.6667px;">fulfilment</span><span style="font-size: 14pt;">&nbsp;of
                                the
                                contract between the donor and the donatory.</span></font><br>
                        <font face="TimesNewRomanPSMT"><span style="font-size: 14pt;">EAT IT makes, stores, prepares,
                                produces, processes, brands, packages, delivers, or handles the Products in any way. EAT
                                IT
                                has no responsibility for the&nbsp;</span><span
                                style="font-size: 18.6667px;">fulfilment</span><span style="font-size: 14pt;">&nbsp;of
                                the
                                contractual obligations to the donor/ donee regarding the Products, including
                                manufacture,
                                donate, collect, storage, preparation, production, processing, labeling, delivery,
                                quality,
                                ingredients, allergens, or handling of the&nbsp;</span></font> <span
                            style="font-size: 16.000000pt; font-family: 'TimesNewRomanPSMT';">Products, and compliance
                            with
                            applicable legislation, including with respect to the above, unless EAT IT is expressly
                            designated as the manufacturer or donor of the Product on the Platform.</span>
                    </p>
                    <p><span style="font-size: 16.000000pt; font-family: 'TimesNewRomanPSMT';"><br>The user can find
                            information about the Products and a description of the Products on the Platform. This
                            information is for guidance only and for the purpose of providing the user with the best
                            conditions for assessing selected Products before the Reservation is made. There may be
                            cases
                            where the Platform is not updated and where the actual product range, stocked goods, etc. is
                            not
                            as stated on the Platform. In such cases, EAT IT assumes no responsibility. The donor is
                            responsible for providing information about the Products and for ensuring that they are in
                            fact
                            accurate and up to date. EAT IT does not assume any such responsibility and is therefore not
                            responsible for the content or availability of information about the
                            Products.&nbsp;</span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>
                    <p><span style="font-size: 16.000000pt; font-family: 'TimesNewRomanPSMT';">If the user is in doubt
                            about
                            allergy warnings, the content of a serving, or other relative information, the user must
                            clarify
                            his doubts directly with the donor before collecting the food. The user&apos;s contact
                            information is displayed on the Platform. Upon Pickup (as defined below), the donor must
                            provide
                            the donee with information about ingredients, allergens, and other labeling-related
                            information
                            about the Product. All Products collection via the EAT IT platform must be consumed
                            immediately
                            after Pickup and/or as indicated on the Product or by the donor. In no event will EAT IT
                            assume
                            responsibility for the Products&apos; impact on the donor, including if the Products are
                            consumed in accordance with the labeling of the Products or the information described in
                            these
                            Terms or provided directly by the Donor.<br>&nbsp;EAT IT is not responsible for any failure
                            to
                            perform or delay in the performance of obligations regarding the Products, including with
                            respect to manufacturing, donation, collection, storage, preparation, production,
                            processing,
                            labeling, delivery, quality, ingredients, allergens, or handling of the Products.</span></p>
                    <p><span style="font-size: 16.000000pt; font-family: 'TimesNewRomanPSMT';"><br><b>6. Reservation of
                                Products</b><br></br>&nbsp;A list of active donors/ food can be found in the application. If
                            the
                            user has
                            allowed the application to use location service, the application will register the
                            user&apos;s
                            location and a list of Donors near the donatory will be displayed.<br>&nbsp;Once the Donee
                            has
                            selected the food, the Donee is given the opportunity to submit his food by clicking on
                            &quot;reserve&quot;, &quot;place my reservation&quot; or a similar button.<br>&nbsp;The list
                            is
                            created solely taking into account geographical criteria.<br>&nbsp;The listed donor are
                            those
                            active on the Platform. The delivery of Products on the Platform is only an option if the
                            donor
                            is comfortable with this.<br></span><span
                            style="font-size: 16.000000pt; font-family: 'TimesNewRomanPSMT';">A Reservation of food made
                            by
                            the user via the Platform (&ldquo;Reservation Order&rdquo;) is&nbsp;</span><span
                            style="font-size: 16.000000pt; font-family: 'TimesNewRomanPSMT';">considered an offer from
                            the
                            Donee to the Donor to reserve a product.&nbsp;</span></p><br
                        style="font-size: 16.000000pt; font-family: 'TimesNewRomanPSMT';"><b 
                        style="font-size: 16.000000pt; font-family: 'TimesNewRomanPSMT';">7. Booking
                        confirmation</b></br><br>Upon
                        receipt of the Reservation of food, EAT IT will begin processing it by sending the reservation
                        to
                        the appropriate Donor. EAT IT notifies the Customer&nbsp;</span><span
                        style="font-size: 16.000000pt; font-family: 'TimesNewRomanPSMT';">that the Reservation of food
                        has
                        been received (the &ldquo;Reservation Confirmation&rdquo;)&nbsp;</span><br
                        style="font-size: 16.000000pt; font-family: 'TimesNewRomanPSMT';">and is being processed. Please
                        note that any confirmation page that the Donee can visit on the Platform only indicates that the
                        reservation has been received and processed, and the confirmation does not mean that the
                        reservation
                        has been accepted by the Donor.<br>&nbsp;The reservation confirmation must be saved by the
                        Donee.
                        The reservation confirmation will contain information about the donatory&apos;s
                        reservation.<br>&nbsp;Please note that the Booking Confirmation does not mean that the booking
                        has
                        been accepted, but is only a confirmation of receipt of the Booking Order.<br><br><b 
                        style="font-size: 16.000000pt; font-family: 'TimesNewRomanPSMT';">8.
                        Pickup</b></br><br>Products reserved on the Platform must be picked up by the Donee at the specified
                        pick-</span><span style="font-size: 16.000000pt; font-family: 'TimesNewRomanPSMT';">up address
                        (&ldquo;Pick</span><span
                        style="font-size: 16.000000pt; font-family: 'TimesNewRomanPSMT';">-</span><span
                        style="font-size: 16.000000pt; font-family: 'TimesNewRomanPSMT';">up&rdquo;). The
                        pick</span><br style="font-size: 16.000000pt; font-family: 'TimesNewRomanPSMT';">-up time will
                        usually be for a
                        period of 30-60 minutes but can be both shorter and longer. Store description and details of
                        when
                        and where the products can be picked up appear on the Platform and are also stated in the
                        Reservation Confirmation. If the donee arrives at the collection address before the specified
                        collection time, the Donor can tell him or her to wait outside. Please note that if the Donee
                        arrives late, the Donor may be closed, and/or the Product may be unavailable.<br>&nbsp;As the
                        Products are perishable goods, and as EAT IT&apos;s concept is to avoid waste of food, the Store
                        is
                        entitled to give the product to another Donee if the Donee does not Collect the food within the
                        deadline specified in the Reservation Confirmation. In this case, EAT IT is entitled to charge
                        the
                        Purchase Price (as defined below) from the Customer.<br>&nbsp;Upon Collection, the Donor must
                        show
                        his Reservation Confirmation/ OTP in the EAT IT application to the Donor, after which they
                        &quot;swipe&quot; the receipt and hand over the reserved Products. It is the donatory&apos;s
                        responsibility to ensure that the Reservation Confirmation in the application can be displayed
                        at
                        Pickup. The Donee is obliged to ensure that the Products delivered and the number of Products
                        corresponds to the Donee&apos;s reservation.<br><br>&nbsp;<b 
                        style="font-size: 16.000000pt; font-family: 'TimesNewRomanPSMT';">9. Price</b></br><br>&nbsp;Give free food to
                        others
                        (Donate food) and Langar is a completely free service on Eat it.<br><br><b 
                        style="font-size: 16.000000pt; font-family: 'TimesNewRomanPSMT';">10.
                        Payment</b><br><br></span><span style="font-size: 16.000000pt; font-family: 'TimesNewRomanPSMT';">The
                        user doesn&rsquo;t need any
                        credit card on Eat it Platform Because there are not any&nbsp;</span><br
                        style="font-size: 16.000000pt; font-family: 'TimesNewRomanPSMT';">payment requirements on Eat it
                        Platform.<br><br>&nbsp;<b 
                        style="font-size: 16.000000pt; font-family: 'TimesNewRomanPSMT';">11. Right to complain</b></br>&nbsp;</span>
            </div>
        </div>
    </div>
    <div class="page" title="Page 4">
        <div class="layoutArea">
            <div class="column">&nbsp;<span style="font-size: 16.000000pt; font-family: 'TimesNewRomanPSMT';">In the
                    event of a complaint regarding a Product (including &quot;Langar (free food)&quot; and its
                    contents), the Customer must direct the complaint to EAT IT&apos;s customer service. we will handle
                    all inquiries in accordance with EAT IT&apos;s procedures, and any decision by EAT IT regarding the
                    Product is left to EAT IT.&nbsp;</span></div>
        </div>
    </div>
    <div class="page" title="Page 5">
        <div class="layoutArea">
            <div class="column">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<p><span
                        style="font-size: 16.000000pt; font-family: 'TimesNewRomanPSMT';">In the event that EAT
                        IT&apos;s processing of the Donee&apos;s complaint is not to the Donee&apos;s satisfaction,
                        these Terms do not limit the powers available to the Donee to resolve the Donee&apos;s dispute
                        with the Store in accordance with applicable law. The service is covered by statutory consumer
                        protection legislation and other legislation regarding the collecting of goods and provisions
                        described herein regarding defects and delays.<br>&nbsp;All complaints are handled by EAT IT,
                        and the user must direct complaints against EAT IT and not the Store.<br>The user must confirm
                        the contents of the Products upon receipt.<br>&nbsp;In the event of a complaint, the user must
                        contact EAT IT via the complaint link on the Platform and provide the requested information and
                        information about the Products and why the user is dissatisfied. Upon receipt of the complaint,
                        EAT IT will process the complaint in collaboration with the Store, if applicable, and the user
                        will receive a response from us within 10 working days.<br>&nbsp;If the user is not satisfied
                        with EAT IT&apos;s response, the user can lodge a complaint with the relevant consumer
                        protection authority (the Consumer Complaints Board).&nbsp;</span></p>
                <p><span style="font-size: 16.000000pt; font-family: 'TimesNewRomanPSMT';"><b>12. Customer
                        reviews</b><br><br>&nbsp;In particular (but not exhaustively), any reviews submitted by the user via the
                        Platform may not:<br></span><span
                        style="font-size: 16.000000pt; font-family: 'TimesNewRomanPSMT';">&bull; contain defamatory,
                        obscene, or offensive material;<br>&bull; promote violence or discrimination;<br>&bull; infringe
                        intellectual property rights of another person or legal entity; &bull; &nbsp; &nbsp; &nbsp;
                        &nbsp; promote illegal activity o</span><span
                        style="font-size: 16.000000pt; font-family: 'TimesNewRomanPSMT';">r infringe on the privacy of
                        others;<br></span><span style="font-size: 16.000000pt; font-family: 'TimesNewRomanPSMT';">&bull;
                        give the impression that they originate from EAT IT; or<br>&bull; used to appear to be from
                        another person or to misrepresent an affiliation with&nbsp;</span><span
                        style="font-size: 16.000000pt; font-family: 'TimesNewRomanPSMT';">another person.<br>EAT IT does
                        not control, modify, or edit reviews, except that, EAT IT is entitled to remove or edit reviews
                        submitted, uploaded, or transmitted to the Platform at any time if the reviews contain a
                        violation of one or more of the above-mentioned conditions or are considered
                        fraudulent.<br>&nbsp;The reviews on the Platform are for informational purposes only and do
                        not&nbsp;</span><span
                        style="font-size: 16.000000pt; font-family: 'TimesNewRomanPSMT';">constitute advice from EAT IT.
                        Reviews reflect the opinions of user&rsquo;s who have&nbsp;</span><span
                        style="font-size: 16.000000pt; font-family: 'TimesNewRomanPSMT';">ordered through the Platform
                        or other third parties, and any statements, advice, or opinions of such persons are solely
                        derived from the users. Accordingly, EAT IT assumes no responsibility to any person for any
                        reviews, including errors,&nbsp;</span><span
                        style="font-size: 16.000000pt; font-family: 'TimesNewRomanPSMT';">defamation, obscenities,
                        omissions, or inaccuracies that users may encounter in such reviews.<br>EAT IT has the right to
                        save the reviews.<br>The Customer does not receive compensation or benefits by submitting
                        reviews through the Platform.&nbsp;</span></p>
            </div>
        </div>
    </div>
    <div class="page" title="Page 6">
        <div class="layoutArea">
            <div class="column"><span style="font-size: 16.000000pt; font-family: 'TimesNewRomanPSMT';">There may be a
                    delay between the submission of the notification and its publication.</span>
                <p><span style="font-size: 16.000000pt; font-family: 'TimesNewRomanPSMT';"><b>13. Customer
                        Behavior</b><br><br>The donatory is asked to show respect for the Donor as well as EAT IT&apos;s
                        staff.<br>The Donee is informed that in the event of inappropriate behavior towards
                        the&nbsp;</span><span
                        style="font-size: 16.000000pt; font-family: 'TimesNewRomanPSMT';">Donor&rsquo;s place, the other
                        Donee in the Donor&rsquo;s place or EAT IT, or if the Donee commits a crime against or in the
                        Donor&rsquo;s place in connection with the Service or&nbsp;</span><span
                        style="font-size: 16.000000pt; font-family: 'TimesNewRomanPSMT';">violates against the rules,
                        EAT IT may, especially after complaints from the Donor, prohibit, exclude or suspend the Donee
                        from the Platform and the Services. EAT IT&apos;s intervention is irrelevant to the Store&apos;s
                        powers and rights.&nbsp;</span></p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp;<p><span style="font-size: 16.000000pt; font-family: 'TimesNewRomanPSMT';"><b>14. Limitation
                        of Liability</b><br><br>&nbsp;EAT IT is not liable for losses arising out of or in connection with (i)
                        circumstances for which a Donor is responsible under the Agreement, (ii) errors by third parties
                        or through unforeseen interruption of the availability of the Platform) ; (iii) content of sites
                        to which the Platform links, including the accuracy of the linked sites and the data protection
                        of such site; and (iv) similar events as set forth in (i) - (iii).<br>&nbsp;EAT IT is not
                        responsible for errors or non-compliance with services if such errors are due to circumstances
                        beyond EAT IT controls. Such conditions include, but are not limited to, disruptions in the
                        operation of EAT IT as a result of legislation, acts of state or public authorities, acts of
                        war, terrorism, strikes, physical blockades, lockouts, and natural disasters.</span></p>
                <p><span style="font-size: 16.000000pt; font-family: 'TimesNewRomanPSMT';"><b>15. IP Rights</b><br><br>user may
                        use the Platform, print, and download excerpts from the Platform for its personal non-commercial
                        use under the following conditions:<br></span><span
                        style="font-size: 16.000000pt; font-family: 'TimesNewRomanPSMT';">&bull; The user must not
                        misuse the Platform (including hacki</span><span
                        style="font-size: 16.000000pt; font-family: 'TimesNewRomanPSMT';">ng or
                        &quot;scraping&quot;).<br></span><span
                        style="font-size: 16.000000pt; font-family: 'TimesNewRomanPSMT';">&bull; Unless otherwise
                        stated, the copyright and other intellectual property rights in the&nbsp;</span><span
                        style="font-size: 16.000000pt; font-family: 'TimesNewRomanPSMT';">Platform and in the material
                        published in it (including, without limitation, photographs, and graphic images) are owned by
                        EAT IT or EAT IT&apos;s licensors. These rights are protected by copyright laws worldwide and
                        all rights reserved. In connection with these conditions, any use of extracts from the Platform
                        except in accordance with this provision is prohibited.<br></span><span
                        style="font-size: 16.000000pt; font-family: 'TimesNewRomanPSMT';">&bull; user may not alter
                        digital or hard copie</span><span
                        style="font-size: 16.000000pt; font-family: 'TimesNewRomanPSMT';">s of materials printed by
                        him/her in accordance with this provision, and the user may not use images, photographs, or
                        other graphics, video, or audio sequences separately from any accompanying text.&nbsp;</span>
                </p><span style="font-size: 16.000000pt; font-family: 'TimesNewRomanPSMT';">&bull; The user must ensure
                    that EAT IT&apos;s status as the&nbsp;</span><span
                    style="font-size: 16.000000pt; font-family: 'TimesNewRomanPSMT';">copyright holder of the material
                    on the Platform is always recognized, informed, and referred to.<br></span><span
                    style="font-size: 16.000000pt; font-family: 'TimesNewRomanPSMT';">&bull; The customer may not use
                    the materials on the Platform for commercial purposes&nbsp;</span><span
                    style="font-size: 16.000000pt; font-family: 'TimesNewRomanPSMT';">without the prior written
                    permission of EAT IT.&nbsp;</span>
            </div>
        </div>
    </div>
    <div class="page" title="Page 7">
        <div class="layoutArea">
            <div class="column">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<p><span
                        style="font-size: 16.000000pt; font-family: 'TimesNewRomanPSMT';">Except as provided in this
                        provision, the Platform may not be used and no part of the Platform may be reproduced or stored
                        in any other Platform or included in a public or private electronic collection system or service
                        without EAT IT&apos;s prior written permission.&nbsp;</span></p>&nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<p><span
                        style="font-size: 16.000000pt; font-family: 'TimesNewRomanPSMT';"><b>16. Venue</b><br><br>These Terms (and
                        any reservation and purchase of Products via the Platform) are subject to the law of the country
                        in which the company is located.<br>Any dispute arising out of or in connection with these terms
                        and conditions shall - where such a dispute cannot be settled amicably - be settled by the court
                        of the country in which the Store from which the reservation or purchase is made is
                        situated.<br>Not withstanding this, the Customer may always submit a complaint to the relevant
                        consumer protection authority valid in the country where the Store from which the reservation or
                        purchase is made is located.&nbsp;</span></p>
            </div>
        </div>
    </div>
</p>