<hmtl>
    <head><title>Paypal</title></head>
    <body style="display:flex;flex-direction:column;align-items: center;justify-content: center;">
        <!-- <h1>Paypal</h1> -->
        <h1 style="font-size:80px;">Please wait....</h1>
<!-- <form name ='f1' action="/paypal">
</form> -->

<form action="/paypal">
    <button type="submit">Pay</button>
</form>
    </body>
</hmtl>
